img{
    width: 100%;
}
.ds-debug{
    border: 1px solid red;
}

body{
    font-family: "Roboto", sans-serif ;
}

#wrapper{
    height: 100vh;
}
header{
    background-color: #43505e;
    height: 90px;
}
.ds-container{
    height: calc(100% - 90px);
    /* background-color: red; */

}
#sidebar{
    width: 200px;
    background-color: violet;
}
main{
    width: calc(100% - 200px);
    overflow-y: auto;
}
.ds-blue{
    background-color: blue;
    height: 70px;
}
.ds-logo, .ds-nav-buttons{
    width: 200px ;
}
.ds-font-special{
    font-family: "Roboto", "FontAwesome", sans-serif;
}

/* header */
header a {
    color: #5B5858;
    text-decoration: none;
}
 .fa-bell{
    color: #FF8F02;
 }