img{
    width: 100%;
}
.ds-debug{
    border: 1px solid red;
}

body{
    font-family: "Roboto", sans-serif ;
}

#wrapper{
    height: 100vh;
}

/* HEADER */
header{
    background-color: #F8F9FA;
    height: 90px;
}
header a {
    color: #5B5858;
    text-decoration: none;
}
 .fa-bell{
    color: #FF8F02;
}
.ds-logo{
    min-width: 200px ;
}
.ds-nav-buttons{
    min-width: 50px;
}
.ds-font-special{
    font-family: "Roboto", "FontAwesome", sans-serif;
}
/* ************************** */

/* MAIN */

.ds-container{
    height: calc(100% - 90px);
    /* background-color: red; */

}
main{
    width: calc(100% - 200px);
    overflow-y: auto;
}
.ds-blue{
    background-color: blue;
    height: 70px;
}
th{
    font-weight: normal;
}
th:not(:first-child), td:not(:first-child){
    width: 120px;
    text-align: center;

}
td div:first-child{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.ds-code-table{
    width: 30px;
    background-color: white;
}
.ds-rounded{
    width: 30px;
    color: #6C757D;
    aspect-ratio: 1 / 1;
    border: 1px solid #6C757D;
    border-radius: 5px;
    justify-content: center;
}
/* ************************** */

/* SIDEBAR */

#sidebar{
    width: 200px;
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
}
#sidebar a {
    color: white;
    text-decoration: none;
    width: 10%;
}
#sidebar span{
    color: white;
    cursor: pointer;
}
#sidebar .d-flex.align-items-center.gap-3:hover{
    background-color: #ffffff80;
}

/* ************************** */

/* RESPONSIVE */
@media screen and (max-width: 768px) {
    th:nth-child(2),
    th:nth-child(3),
    td:nth-child(2), 
    td:nth-child(3) {
        display: none;
    }
    #sidebar span{
        display: none;
    }
    #sidebar{
        width: 80px;
    }
    main{
        width: calc(100% - 80px);
    }
}



/* ************************** */
